{
  "root": true,
  "env": {
      "browser": true,
      "es2021": true,
      "node": true
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
      "ecmaVersion": 2021,
      "parser": "@typescript-eslint/parser",
      "project": "./tsconfig.json",
  },
  "plugins": [
  ],
  "rules": {
    "max-len": "off",

    /**
     * Err except :
     * a || b
     * a && b()
     * a() || (b = c)
     * a ? b() : c()
     * a ? b() || (c = d) : e()
     */
     "no-unused-expressions": "off",
     "@typescript-eslint/no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
  }
}
